<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <form method="post">
            Error: message can't be empty you fool!
        </form>
    </body>
</html>
